<form class="form-horizontal" role="form" ng-submit="login()">
    <div class="form-group">
        <label for="inputUsername3" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" ng-model='user.username' class="form-control" id="inputUsername3" placeholder="Username">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" ng-model='user.password' class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="alert alert-danger" ng-show="loginError">Enter correct username and password</div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>